*~
*.swp
*.tmp
tags
*.out
*.o
*.bak
*.log
.deps/
tmp/
autom4te.cache/
autoscan.log
config.log
config.status
depcomp
missing
install-sh
aclocal.m4
Makefile
!opkg/Makefile
Makefile.in
config.h*
configure
